@*This html file is the project's home page. It displays the screen which a user 
  will first be directed to. It provides a header section and some dynamic buttons 
  with images to go to different parts of the web application. These buttons are 
  only visual depending on the users access (employee, manager, or hr).*@
@model HumanArcCompliance.Models.UserViewModel
@Html.HiddenFor(m => m.isHR, new { id = "hrCheck" })
@Html.HiddenFor(m => m.isManager, new { id = "managerCheck" })
@Html.HiddenFor(m => m.userGroups, new { id = "memberOf" })
<link rel="stylesheet" type="text/css" href="~/Content/index.css" />

@*Header*@
<h2>@ViewBag.errorMessage</h2>
<div class="jumbotron">
    <h2>Welcome, {ADD IN USER NAME HERE}!</h2>
    <p class="lead">Welcome to the Human Arc Compliance website. This site 
		provides you with the required compliance training. 
	</p>
</div>

@*Body. This includes all the buttons that will navigate a user to a page. 
  The same functionality works in regards to the layout navigation on all pages.*@
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3" data-toggle="tooltip" title="Go here to take quizzes or check on any trainings assigned to you.">
        <div class="image">
            <a href="@Url.Action("MyTraining","Training")">
                <img class="linkPics" src="~/Content/Images/training.png" alt="Training">
            </a>
            <div class="row banner" style="">
                <div class="col-md-12">
                    <h2 class=""> View Training</h2>
                </div>
            </div>
        </div>
    </div>  
    <div class="col-md-2"></div>
    <div class="col-md-3" data-toggle="tooltip" title="Go here to check on your employees' training statuses. As an HR, you can grade ungraded user quizzes here.">
        <div class="image managers">
            <a href="@Url.Action("ManageEmployees","Training")">
                <img class="linkPics" src="~/Content/Images/manage.png" alt="Manage">
            </a>
            <div class="row banner" style="">
                <div class="col-md-12">
                    <h2 class=""> Manage Employees</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3" data-toggle="tooltip" title="Go here to Edit or Remove existing trainings or add new trainings.">>
        <div class="image humanResources">
            <a href="@Url.Action("EditTraining","Training")">
                <img class="linkPics" src="~/Content/Images/addEditDelete.jpg" alt="Training">
            </a>
            <div class="row banner" style="">
                <div class="col-md-12">
                    <h2 class=""> Manage Training</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3"></div>
    <div class="col-md-2"></div>
</div>
<script type="text/javascript" src="~/Scripts/index.js"></script>


