@model HumanArcCompliance.Models.ADUser
@Html.HiddenFor(m => m.isHR, new { id = "hrCheck" })
@Html.HiddenFor(m => m.isManager, new { id= "managerCheck" })
<div class="jumbotron">
    <h1>Heading</h1>
    <p class="lead">Some sort of content here. I feel that there is not enough on this page and something here is necessary. Thoughts?</p>
    <p>I feel like we can just stick a picture there.</p>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="image">
            <a href="@Url.Action("MyTraining","Training")">
                <img class="linkPics" src="~/Content/Images/training.png" alt="Training">
            </a>
            <h2> View Training</h2>
        </div>
    </div>  
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="image">
            <a href="@Url.Action("ManageEmployees","Training")">
                <img class="linkPics" src="~/Content/Images/manage.png" alt="Manage">
            </a>
            <h2> Manage Employees</h2>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
        <div class="image">
            <a href="#">@*"@Url.Action("Training","Training")"*@
                <img class="linkPics" src="~/Content/Images/addEditDelete.jpg" alt="Training">
            </a>
            <h2> Setup Training</h2>
        </div>
    </div>
    <div class="col-md-2">
        <div ng-app>
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello {{yourName}}!</h1>
    </div>

    </div>
    <div class="col-md-3"></div>
    <div class="col-md-2"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@


