@*This file provides a layout that is consistent throughout all pages.    
  It includes the navigation bar and the top header which displays the company
  name.*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")


    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container-fluid">
        <div id="header">
            @Html.ActionLink("Human Arc Compliance", "Index", "Home", new { @id = "logo" })
            <hr />
        </div>
        <div id="content">
            <div class="row">
                <div class="col-md-2" style="margin-right:-40px;">
                    <div class="container-fluid">
                        <div class="navbar navbar-fixed-left">
                            <ul class="nav navbar-nav nav-pills nav-stacked">
                                <li class="active navLink" style="text-align:center;"><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                                @*This link is for manager and general employees*@
                                <li class="navLink"><a href="@Url.Action("MyTraining","Training")"><span class="glyphicon glyphicon-book"></span> Training</a></li>
                                <li class="navLink managers"><a href="@Url.Action("ManageEmployees", "Training")"><span class="glyphicon glyphicon-user"></span> Manage Employees</a></li>
                                <li class="navLink humanResources"><a href="@Url.Action("EditTraining", "Training")"><span class="glyphicon glyphicon-book"></span> Edit Training</a></li>

                                @*This dropdown is for HR it is a more convient menu for them to access add and edit features*@
                                @*<li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-book"></span> Training<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class=""><a href="@Url.Action("Training","Training")"><span class="glyphicon glyphicon-book"></span> View Training</a></li>
                                        <li class=""><a href="@Url.Action("AddTraining","Training")"><span class="glyphicon glyphicon-plus"></span> Add Training</a></li>
                                        <li class=""><a href="@Url.Action("EditTraining","Training")"><span class="glyphicon glyphicon-edit"></span> Edit Training</a></li>
                                    </ul>
                                </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div id="content" ui-view="content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - Human Arc</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/DataTables/css")
    @Scripts.Render("~/Scripts/DataTables/js")
    <script src="~/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
