@model HumanArcCompliance.Models.UserQuizViewModel
@Html.HiddenFor(m => m.isHR, new { id = "hrCheck" })
@Html.HiddenFor(m => m.isManager, new { id = "managerCheck" })
@Html.HiddenFor(m => m.QuizId, new { id = "quizId" })

<div ng-app="QuizApp" ng-controller="QuizCtrl">
    <div ng-show="status.isSubmitted">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <h3>{{status.text}}</h3>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 pull-left">
                @Html.ActionLink("Back to My Training", "MyTraining", "Training", new { @class = "btn btn-success" })
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3 pull-right">
                @Html.ActionLink("View Answers", "ViewQuiz", "Training", new { @class = "btn btn-success" })
            </div>
        </div>

    </div>
    <div ng-show="!status.isSubmitted">
        <div class="row">
            <div class="col-sm-12">
                <h2>Quiz: @Html.DisplayFor(m => m.title)</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>@Html.DisplayFor(m => m.description)</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>Referenced Media: @Html.DisplayFor(m => m.media)</h4>
            </div>
        </div>
        <div ng-repeat="var question in quiz.questions">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Question {{quiz.currentQuestion + 1}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>{{quiz.question.questionText}}</h3>
                    <div ng-if="quiz.question.type == 'shortAnswer'">
                        <textarea rows="5" class="form-control" id="shortAnswerQuestion" ng-model="quiz.question.answerText" placeholder="Answer Here" readonly>{{quiz.question.selectedAnswer}}</textarea>
                        <!--Add two buttons of Accept or Reject Here-->
                        <span class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="status.started">
            <div class="col-sm-2">
                <input class="btn btn-default" type="button" ng-click="previous()" ng-disabled="status.isFirstQuestion" value="Previous" />
            </div>
            <div class="col-sm-8">
            </div>
            <div class="col-sm-2">
                <div ng-if="status.isLastQuestion">
                    <input ng-disabled="quiz.question.answerText==''" data-toggle="modal" data-target="#confirm-submit" ng-click="setLastQuestion()" class="btn btn-default pull-right" type="button" value="Submit" />
                </div>
                <div ng-if="!status.isLastQuestion">
                    <input class="btn btn-default pull-right" type="button" ng-click="next()" ng-disabled="!status.started || status.isLastQuestion || quiz.question.selectedAnswer==0" value="Next" />
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Submit
                    </div>
                    <div class="modal-body">
                        Are you sure you want to submit this quiz?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        @*<button id="submit" class="btn btn-success success" onclick="location.href='@Url.Action("myTraining", "Training")'" ng-click="submit()">Submit</button>*@
                        <button id="submit" class="btn btn-success success" ng-click="submit()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/gradeQuiz.js"></script>