@model HumanArcCompliance.Models.GradeViewModel
@Html.HiddenFor(m => m.QuizId, new { id = "quizId" })
<div ng-app="QuizApp" ng-controller="QuizCtrl">
    <div ng-show="status.isSubmitted">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-sm-3 pull-left">
                @Html.ActionLink("Back to My Training", "MyTraining", "Training", new { @class = "btn btn-success" })
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-3 pull-right">
                @Html.ActionLink("View Answers", "ViewQuiz", "Training", new { @class = "btn btn-success" })
            </div>
        </div>

    </div>
    <div ng-show="!status.isSubmitted">
        <div class="row">
            <div class="col-sm-12">
                <h2>{{data.questions[0].answerText}}</h2>
                <h2>Quiz: @Html.DisplayFor(m => m.title)</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>@Html.DisplayFor(m => m.description)</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>Referenced Media: @Html.DisplayFor(m => m.media)</h4>
            </div>
        </div>
        <p>{{data.questions}}</p>
        <div ng-repeat="question in data.questions">
            <div ng-if="data.question.type == 'shortAnswer'">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Question {{i+1}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>{{data.questions[i].questionText}}</h3>
                        <textarea rows="5" class="form-control" id="shortAnswerQuestion" 
                            ng-model="quiz.question.answerText" placeholder="Answer Here" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Submit
                    </div>
                    <div class="modal-body">
                        Are you sure you want to submit this quiz?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        @*<button id="submit" class="btn btn-success success" onclick="location.href='@Url.Action("myTraining", "Training")'" ng-click="submit()">Submit</button>*@
                        <button id="submit" class="btn btn-success success" ng-click="submit()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/gradeQuiz.js"></script>