@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Compliance</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <div id="container">
        <div id="header">
            <div style="margin-left:30px;">
                <img src="/Content/Images/complianceLogo.png" />
            </div>
        </div>

        <div class="col-md-6 col-md-offset-3 login-container">
            <h2 class="page-header">Please Log In</h2>
            <div id="loginContent">
                <form action="@Request.RawUrl" method="POST" class="form-horizontal" role="form">
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <label class="control-label col-md-2">Username</label>
                        <div class="col-md-4">
                            @Html.TextBox("username", null, new { @autocomplete = "off", @class = "form-control" })
                            @Html.ValidationMessage("username", "*")
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Password</label>
                        <div class="col-md-4">
                            @Html.Password("password", null, new { @MaxLength = "20", @autocomplete = "off", @class = "form-control" })
                            @Html.ValidationMessage("password", "*")
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-6">
                            <div class="checkbox">
                                <label><input id="rememberMe" type="checkbox" name="rememberMe"> Remember me</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-6">
                            <input type="submit" value="Log In" id="LogOnButton" class="btn btn-primary" role="button" aria-disabled="false" />
                        </div>
                    </div>

                    <div class="col-md-offset-1 col-md-6">
                        <div id="successMessage">@Html.ValidationSummary()</div>
                    </div>
                </form>

                <div class="clear"></div>

                <script type="text/javascript">
                    var userName = document.getElementById("username");
                    if (userName) {
                        userName.focus();
                    }
                </script>

                @if (ViewBag.DeploymentInProgress != null && (bool)ViewBag.DeploymentInProgress)
                {
                    <div>&nbsp;</div>
                                <div style="color: blue; font-weight: bold; margin-left: 4px;">
                                    Deployment currently in progress. Please try again later.
                                </div>
                }
                @if (ViewBag.AccountNotSetup != null && (bool)ViewBag.AccountNotSetup)
                {
                    <div>&nbsp;</div>
                                <span style="color: Red; font-style: italic;">
                                    Your Account has not been setup. Please contact an administrator to complete the setup process.
                                </span>
                }

            </div>
        </div>
    </div>
</body>

</html>